BASE_API_URL=https://api.myxl.xlaxiata.co.id
BASE_CIAM_URL=https://gede.ciam.xlaxiata.co.id
BASIC_AUTH=your_basic_auth_here
AX_FP_KEY=your_ax_fp_key_here
UA=myXL / 8.9.0(1202); com.android.vending; (oppo; CPH2737; SDK 33; Android 13)
API_KEY=your_api_key_here
ENCRYPTED_FIELD_KEY=your_encrypted_field_key_here
XDATA_KEY=your_xdata_key_here
AX_API_SIG_KEY=your_ax_api_sig_key_here
X_API_BASE_SECRET=your_x_api_base_secret_here
CIRCLE_MSISDN_KEY=your_circle_msisdn_key_here

PORT=3001
SESSION_SECRET=change-this-secret-key
